[submodule "src/neorv32"]
	path = src/neorv32
	url = https://github.com/stnolting/neorv32
[submodule "kernel/FreeRTOS-Kernel"]
	path = kernel/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "work/repo/my_dtg/device-tree-xlnx"]
	path = work/repo/my_dtg/device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx
